<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean class="com.ecommint.spring.xml.thermometer.ThermometerConverterImpl" name="thermometerConverter"></bean>

    <bean class="com.ecommint.spring.xml.thermometer.CelciusThermometer" name="celciusThermometer" >
        <constructor-arg>
            <value>10</value>
        </constructor-arg>
    </bean>

    <bean class="com.ecommint.spring.xml.thermometer.KelvinThermometer" name="kelvinThermometer" >
        <constructor-arg>
            <value>300</value>
        </constructor-arg>
    </bean>

    <bean class="com.ecommint.spring.xml.thermometer.FahrenheitThermometer" name="fahrenheitThermometer" >
        <constructor-arg>
            <value>180</value>
        </constructor-arg>
    </bean>
</beans>