<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->

<bean id="calculator" class="hw2.xmlConfiguration.CalculatorT1">

	<constructor-arg value="3"> </constructor-arg>

	<property name="functions">
		<array>
			<ref bean="sin" ></ref>
			<ref bean="fac" ></ref>
			<ref bean="log" ></ref>
			
		</array>
	
	</property>

</bean>



<bean id="sin" class="hw2.xmlConfiguration.SinFunction"></bean>
<bean id="fac" class="hw2.xmlConfiguration.FactorialFunction"></bean>
<bean id="log" class="hw2.xmlConfiguration.LogFunction"></bean>


</beans>



