/ClothProduct.class
/Consultable.class
/ConsultancyProduct.class
/FoodProduct.class
/GiftProduct.class
/Giftable.class
/InventoryProduct.class
/LocatableProduct.class
/Location.class
/OldComputer.class
/PricedProduct.class
/Product.class
/Sellable.class
