/Calculator.class
/CalculatorT1.class
/CosFunction.class
/FactorialFunction.class
/LogFunction.class
/MathFunction.class
/SinFunction.class
/SquaredFunction.class
/Test.class
/SquareFunction.class
/CubeFunction.class
/SumOfFibonacciFunction.class
